<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
           <form class="login100-form validate-form">
            <span class="login100-form-title"><b>ĐĂNG KÍ</b></br></span>

            <div class="wrap-input100 validate-input">
              <span class="focus-input100" ></span>
              <%= f.label :email %></br>
              <div class="input_login"><%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>
            </div>

            <div class="wrap-input100 validate-input">
              <span class="focus-input100"></span>
                <%= f.label :password, 'Mật khẩu' %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> Tối thiểu ký tự)</em>
                <% end %><br />
                <div class="input_login"><%= f.password_field :password, autocomplete: "new-password" %>
                </div>
            </div>
              
            <div class="wrap-input100 validate-input">
              <span class="focus-input100"></span>
              <%= f.label :password_confirmation, 'Xác nhận mật khẩu'%><br />
              <div class="input_login"><%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              </div>
              </br>
            </div>
            
            <div class="container-login100-form-btn">
              <%= f.submit "ĐĂNG KÍ", class:"login100-form-btn" %>
            </div>
              
            <div class="forgotpass">
              <%= link_to "Đăng Nhập", new_session_path(resource_name) %>
            </div>
          </form>
        </div>
      </div>
    </div>
  <% end %>
      



