<p id="notice"><%= notice %></p>

<h1>Hoá đơn</h1>

<table>
  <thead>
    <tr>
      <th>Ngày giao hàng</th>
      <th>Tình trạng trả tiền</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.customer_id %></td>
        <td><%= bill.status_pay %></td>
        <td><%= link_to 'Hiển thị', bill %></td>
        <td><%= link_to 'Sửa', edit_bill_path(bill) %></td>
        <td><%= link_to 'Xoá', bill, method: :delete, data: { confirm: 'Bạn có chắc?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Hoá đơn mới', new_bill_path %>

