<p id="notice"><%= notice %></p>

<p>
  <strong>Ngày giao hàng:</strong>
  <%= @bill.delivery_date %>
</p>

<p>
  <strong>Tình trạng trả tiền:</strong>
  <%= @bill.status_pay %>
</p>

<%= link_to 'Sửa', edit_bill_path(@bill) %> |
<%= link_to 'Trở lại', bills_path %>
