<p id="notice"><%= notice %></p>

<h1>Khách hàng</h1>

<table>
  <thead>
    <tr>
      <th>Tên khách hàng</th>
      <th>Địa chỉ khách hàng</th>
      <th>Điện thoại khách hàng</th>
      <th>Ngày sinh khách hàng</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.customer_name %></td>
        <td><%= customer.customer_address %></td>
        <td><%= customer.customer_phone %></td>
        <td><%= customer.customer_birthday %></td>
        <td><%= link_to 'Hiển thị', customer %></td>
        <td><%= link_to 'Sửa', edit_customer_path(customer) %></td>
        <td><%= link_to 'Xoá', customer, method: :delete, data: { confirm: 'Bạn có chắc?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Khách hàng mới', new_customer_path %>
