<p id="notice"><%= notice %></p>

<h1>Giỏ hàng</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= link_to 'Hiển thị', cart %></td>
        <td><%= link_to 'Sửa', edit_cart_path(cart) %></td>
        <td><%= link_to 'Xoá', cart, method: :delete, data: { confirm: 'Bạn có chắc?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Giỏ hàng', new_cart_path %>
