<p id="notice"><%= notice %></p>

<h2>Your Cart</h2>
<table>
    <% @cart.line_items.each do |item| %>
    <tr>
    
        <td><%= image_tag(item.product.image_url, class: 'list_image') %>&times;</td>
        <td><%= item.quantity %>&times;</td>
        <td><%= item.product.title %></td>
        <td class="item_price"><%= item.total_price %>&nbsp;VNĐ</td>

    
    </tr>
    <% end %>
    <tr class="total_line">
        <td colspan="2">Tổng</td>
        <td class="total_cell"><%= @cart.total_price %>&nbsp;VNĐ</td>
    </tr>
 </table>


<%= button_to 'Xóa giỏ hàng', @cart, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'Trở về', root_path %>