
    
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
       <form class="login100-form validate-form">
        <span class="login100-form-title">
        <b>ĐĂNG NHẬP</b></br>
        </span>

        <div class="textwarning">
            <div id="hide"><p class="notice"><%= notice %></p></div>
            <p class="alert"><%= alert %></p>
        </div>

        <div class="wrap-input100 validate-input">
          <span class="focus-input100" ></span>
          <%= f.label :email %>
          <div class="input_login"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
        </div>

        <div class="wrap-input100 validate-input">
          <span class="focus-input100"></span>
          <%= f.label :password, 'Mật Khẩu' %>
          <div class="input_login"><%= f.password_field :password, autocomplete: "current-password" %></div>
        </div>
        
        <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me, class: "input-checkbox" %>
            <%= f.label :remember_me,'Lưu mật khẩu', class: "label-checkbox" %>
        <% end -%>


        <div class="container-login100-form-btn">
          <%= f.submit "Đăng Nhập", class:"login100-form-btn" %>
          </div>
        <div class="container-login100-form-btn">
          <%= link_to "Đăng Kí", new_registration_path(resource_name) %>
        </div>
        <div class="forgotpass">
          <%= link_to "Bạn quên mật khẩu", new_password_path(resource_name) %>
        </div>
      

        </form>
      </div>
    </div>
  </div>
<% end %>
      
<script>
  setTimeout(function(){
    $('#hide').fadeOut(); 
  }, 3000);
</script>
