<p id="notice"><%= notice %></p>

<p>
  <strong>Sản phẩm:</strong>
  <%= @line_item.product %>
</p>

<p>
  <strong>Giỏ hàng:</strong>
  <%= @line_item.cart %>
</p>

<%= link_to 'Sửa', edit_line_item_path(@line_item) %> |
<%= link_to 'Trở lại', line_items_path %>
