<!DOCTYPE html>
<html>
  <head>
    <title>COZA Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('icon.png') %>
  </head>

  <%= render "layouts/header"%>

  <body class='<%= controller.controller_name %>'>  
    <%= yield %>
  </body>

  <%= render "layouts/footer"%>

</html>


